.section-display {
    display: flex;
    flex-direction: column;

    margin-bottom: 24px;
}

.section-display > .title {
    font-weight: 400;
}

.section-display > .description {
    font-weight: 300;
}