.home-screen {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.books-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: end;
}

.invitations-container {
    display: flex;
    flex-direction: column;
}